apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: nai-jobs-role
  labels:
    app.kubernetes.io/component: nai-jobs
    {{- include "nai-core.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - update
  - patch
