apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: nai-dataplane-httproute
  namespace: {{ .Release.Namespace }}
  labels:
    {{- if .Values.naiAIGateway.enabled }}
    nai.nutanix.com/extauth: enabled
    {{- end }}
    {{- include "nai-core.labels" . | nindent 4 }}
spec:
  parentRefs:
    - name: nai-ingress-gateway
  rules:
    - matches: # NAI API Dataplane APIs
        {{- if .Values.naiAIGateway.enabled }}
        - path: { type: PathPrefix, value: /enterpriseai/v1/completions }
        - path: { type: PathPrefix, value: /enterpriseai/v1/models }
        - path: { type: PathPrefix, value: /enterpriseai/v1/rerank }
        - path: { type: PathPrefix, value: /enterpriseai/v1/images/generations }
        {{- else }}
        - path: { type: PathPrefix, value: /enterpriseai/v1/chat/completions }
        - path: { type: PathPrefix, value: /enterpriseai/v1/embeddings }
        - path: { type: PathPrefix, value: /enterpriseai/v1/models }
        - path: { type: PathPrefix, value: /enterpriseai/v1/completions }
        - path: { type: PathPrefix, value: /enterpriseai/v1/rerank }
        - path: { type: PathPrefix, value: /enterpriseai/v1/images/generations }
        {{- end }}
      timeouts:
        request: 300s
      backendRefs:
        - name: nai-api
          namespace: {{ .Release.Namespace }}
          port: 7000
---
# All NAI UI Playground requests are routed through oauth2-proxy
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: nai-ui-dataplane-httproute
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "nai-core.labels" . | nindent 4 }}
spec:
  parentRefs:
    - name: nai-ingress-gateway
  rules:
    - matches:
        - path: { type: PathPrefix, value: /enterpriseai/v1/chat/completions }
          headers:
            - name: X-Nutanix-Client-Type
              value: ui
        - path: { type: PathPrefix, value: /enterpriseai/v1/completions }
          headers:
            - name: X-Nutanix-Client-Type
              value: ui
        - path: { type: PathPrefix, value: /enterpriseai/v1/embeddings }
          headers:
            - name: X-Nutanix-Client-Type
              value: ui
        - path: { type: PathPrefix, value: /enterpriseai/v1/rerank }
          headers:
            - name: X-Nutanix-Client-Type
              value: ui
        - path: { type: PathPrefix, value: /enterpriseai/v1/models }
          headers:
            - name: X-Nutanix-Client-Type
              value: ui
        - path: { type: PathPrefix, value: /enterpriseai/v1/images/generations }
          headers:
            - name: X-Nutanix-Client-Type
              value: ui
      timeouts:
        request: 300s
      backendRefs:
        - name: nai-oauth2-proxy
          namespace: {{ .Release.Namespace }}
          port: 80
