# All NAI Management APIs are served under the /api/enterpriseai/v1 path prefix and routed through oauth2-proxy
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: nai-v1-mgmt-httproute
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "nai-core.labels" . | nindent 4 }}
spec:
  parentRefs:
    - name: nai-ingress-gateway
  rules:
    - matches: # NAI API v1 Management APIs called by cli
        - path:
            type: PathPrefix
            value: /api/enterpriseai/v1/
      backendRefs:
        - name: nai-api
          namespace: {{ .Release.Namespace }}
          port: 7000
    - matches: # NAI API v1 Management APIs called by UI
        - path:
            type: PathPrefix
            value: /api/enterpriseai/v1/
          headers:
            - name: X-Nutanix-Client-Type
              value: ui
      backendRefs:
        - name: nai-oauth2-proxy
          namespace: {{ .Release.Namespace }}
          port: 80