apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: oauth2-proxy-routes
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "nai-core.labels" . | nindent 4 }}
spec:
  parentRefs:
  - name: nai-ingress-gateway
  rules:
  - matches:
    - path: { type: PathPrefix, value: /oauth2 }
    backendRefs:
    - name: nai-oauth2-proxy
      namespace: {{ .Release.Namespace }}
      port: 80
