apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: nai-api-role
  labels:
    app.kubernetes.io/component: nai-api
    {{- include "nai-core.labels" . | nindent 4 }}
rules:
- apiGroups:
  - iep.nai.nutanix.com
  resources:
  - models
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - iep.nai.nutanix.com
  resources:
  - models/finalizers
  verbs:
  - update
- apiGroups:
  - iep.nai.nutanix.com
  resources:
  - models/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - serving.kserve.io
  resources:
  - inferenceservices
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - update
  - create
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
  - patch
- apiGroups:
  - ""
  resources:
  - pods/log
  verbs:
  - get
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - get
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - opentelemetry.io
  resources:
  - opentelemetrycollectors
  verbs:
  - create
  - delete
  - get
- apiGroups:
  - aigateway.envoyproxy.io
  resources:
  - aigatewayroutes
  - aiservicebackends
  - backendsecuritypolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
- apiGroups:
  - gateway.envoyproxy.io
  resources:
  - backends
  - backendtrafficpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - backendtlspolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
