apiVersion: v1
kind: Secret
metadata:
  name: nai-db-creds
  namespace: nai-admin
  labels:
    app.kubernetes.io/component: nai-audit-logs-rsyslog-otel
    {{- include "nai-core.labels" . | nindent 4 }}
type: Opaque
data:
  POSTGRES_USER: {{ .Values.naiDatabase.postgresql.postgresUser | b64enc | quote }}
  POSTGRES_PASSWORD: {{ .Values.naiDatabase.postgresql.postgresPassword | b64enc | quote }}
  POSTGRES_DB: {{ .Values.naiDatabase.postgresql.postgresDatabase | b64enc | quote }}
  POSTGRES_PORT: {{ .Values.naiDatabase.postgresql.postgresPort | b64enc | quote }}
  POSTGRES_HOST: {{ .Values.naiDatabase.postgresql.postgresHost | b64enc | quote }}
  POSTGRES_SSL_MODE: {{ .Values.naiDatabase.postgresql.postgresSSLMode | b64enc | quote }}
  {{- if .Values.naiDatabase.postgresql.postgresSSLRootCertName }}
  POSTGRES_SSL_ROOT_CERT_NAME: {{ .Values.naiDatabase.postgresql.postgresSSLRootCertName | b64enc | quote }}
  {{- end }}
  {{- if .Values.naiDatabase.postgresql.postgresSSLClientCertName }}
  POSTGRES_SSL_CLIENT_CERT_NAME: {{ .Values.naiDatabase.postgresql.postgresSSLClientCertName | b64enc | quote }}
  {{- end }}
  {{- if .Values.naiDatabase.postgresql.postgresSSLClientKeyName }}
  POSTGRES_SSL_CLIENT_KEY_NAME: {{ .Values.naiDatabase.postgresql.postgresSSLClientKeyName | b64enc | quote }}
  {{- end }}