apiVersion: v1
kind: ServiceAccount
metadata:
  name: nai-audit-logs-rsyslog-otel-sa
  namespace: nai-admin
  labels:
    app.kubernetes.io/component: nai-audit-logs-rsyslog-otel
    {{- include "nai-core.labels" . | nindent 4 }}
{{- if .Values.imagePullSecret.name }}
imagePullSecrets:
- name: {{ .Values.imagePullSecret.name }}
{{- end }}