apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: nai-helm-hooks-role
  labels:
    app.kubernetes.io/component: nai-helm-hooks
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "3"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    {{- include "nai-core.labels" . | nindent 4 }}
rules:
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - list
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get