apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/component: nai-iep-operator
    {{- include "nai-core.labels" . | nindent 4 }}
  name: nai-iep-controller-sa
  namespace: {{ .Release.Namespace }}
{{- if .Values.imagePullSecret.name }}
imagePullSecrets:
- name: {{ .Values.imagePullSecret.name }}
{{- end }}