apiVersion: v1
kind: Service
metadata:
  name: iam-user-authn
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: nai-iam-user-authn
    {{- include "nai-core.labels" . | nindent 4 }}
spec:
  selector:
    app: iam-user-authn
  ports:
  - name: http
    port: 5556
    protocol: TCP
    targetPort: 5556
  - name: prometheus
    port: 5558
    protocol: TCP
    targetPort: 5558